<%- include("_header") -%>

<h3>Click on Download to Export All Database Records to Export.csv</h3>

<form action="/output" method="post">
  <input type="submit" id="submit" value="Download">
</form>

<% if(message.substring(0,5)==="Error" ) { %>
  <h2>Error!</h2>
  <p><%= message %></p>
<% } %>

<%- include("_footer") -%>